@model IssueTracker.Models.IssueModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IssueModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssPriority)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
