@model IssueTracker.Models.ProjectModel

@{
    ViewBag.Title = "Join Project";
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="col-md-10">
    <p>
        Hello @ViewBag.UserName press the button to join the project: @ViewBag.ProjectName.
    </p>
</div>
@using (Html.BeginForm("Join","ProjectModel", new { joinID= @ViewBag.joinID}, FormMethod.Post, new { id="mainForm"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="submitButton" class="btn btn-primary" type="submit" onclick="propDisable()">
                    Join Project
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/WIT/PropDisable.js")
}
