@model IssueTracker.ViewModels.UserIndexData

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Username</th>
        <th></th>
    </tr>

@foreach (var item in Model.Users) {
    string selectedRow = "";
    if (item.ID == ViewBag.UserID)
    {
        selectedRow = "success";
    }
    
    <tr class="@selectedRow" valign="top">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>

}

</table>

@if (Model.Projects != null)
{
    <h3>User's Projects</h3>
    <table class="table">
        <tr>
            <th>Project Name</th>
        </tr>


        @foreach (var item in Model.Projects)
        {
            string selectedRow = "";
            if (item.ProjectID == ViewBag.ProjectID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Selected", "Index", new { projID = item.ProjectID })
                </td>
                <td>
                    @item.ProjName
                </td>
            </tr>
        }
    </table>
}

@if(Model.Issues != null)
{
    <h3>
        Project Issues
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Report Date</th>
            <th>Description</th>
            <th>Assignee</th>
            <th>Reporter</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>@item.IssName</td>
                <td>@item.ReportDate</td>
                <td>@item.IssDescription</td>
                <td>@item.IssAssignee.UserName</td>
                <td>@item.IssReporter.UserName</td>
                <td>@item.IssStatus</td>
                <td>@item.IssPriority</td>
            </tr>
        }
    </table>
}