<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Issue Tracker</title>
    <link rel='icon' href='~/Content/Images/WIT_favicon.ico' type='image/x-icon' sizes="64x64" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar topnav container-fluid">
        <div>               
            <ul class="nav navbar">
                <li>@Html.ActionLink("Wium Issue Tracker", "Index", "Home", new { area = "" }, new { @class = "btn btn-cust-grey" })</li>
                <li>@Html.ActionLink("Users", "Index","UserModel", new { area =  "" }, new { @class ="btn btn-cust-grey"})</li>
                <li>@Html.ActionLink("Projects", "Index", "ProjectModel", new { area = "" }, new { @class = "btn btn-cust-grey" })</li>
                <li>@Html.ActionLink("Issues", "Index", "IssueModel", new { area = "" }, new { @class = "btn btn-cust-grey" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn btn-cust-grey" })</li>
            </ul>              
            @Html.Partial("_LoginPartial");
        </div>
    </div>
    
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Wium Issue Tracker -
                <a href="mailto:RWDeveloperContact@gmail.com?subject=WIT_Feedback_Report" target="_top">Send Feedback Report</a>    
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
