@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    @Html.AntiForgeryToken()
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.GetUserName() </span>
            <i class="fas fa-user fa-lg fa-fw mr-2 text-gray-400"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a href="@Url.Action("Index", "Manage", new { })" title="Manage" class="dropdown-item">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Sign In</span>
            <i class="fas fa-user fa-lg fa-fw mr-2 text-gray-400"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a href="@Url.Action("Register", "Account", new { })" title="Register" class="dropdown-item">
                <i class="fas fa-signing fa-sm fa-fw mr-2 text-gray-400"></i>
                Register
            </a>
            <div class="dropdown-divider"></div>
            <a href="@Url.Action("Login", "Account", new { })" title="Login" class="dropdown-item">
                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Login
            </a>
        </div>
    </li>
}

